/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #0a172a;
  color: white;
  padding: 10px 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container .logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9em;
}

.hero-section {
  position: relative;
  text-align: center;
}

.hero-section img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.hero-content {
  position: relative;
  bottom: 3rem;
  margin: 0 40rem 0 0;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.hero-content h1 {
  margin-bottom: 2rem;
  font-size: 1.5em;
  color: #333;
}

.btn-primary {
  background-color: #0099ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  width: 10%;
}

.edit {
  background-color: #fcc100;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.delete {
  background-color: #bd0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.content-section {
  padding: 20px;
}

.content-section h2 {
  font-size: 1.5em;
  color: #4bb3fd;
}

.content-section p {
  margin: 10px 0;
  line-height: 1.6;
}

.review-section {
  padding: 20px;
  background: linear-gradient(0deg, #0066ff, #00eeff);
}

.review-card {
  background-color: #e8f4ff;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-review {
  color: red;
  font-style: normal;
  font-weight: 200;
  font-size: 1rem;
  margin-left: 2rem;
}

.delete-riwayat {
  background-color: #bd0000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-bottom: 1rem;
}

.riwayat-section {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 3rem;
  margin-top: 5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.review-card h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.stars {
  color: #ffee00;
  font-size: 1em;
  margin-left: 1em;
}

.review-card p {
  margin: 10px 0 0;
  line-height: 1.4;
}

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.riwayat-card {
  background-color: #e8f4ff;
  padding: 20px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 4rem;
  border-radius: 1em;
}

.riwayat-card td {
  border-radius: 1em;
  color: #333;
  font-size: 1em;
  font-weight: normal;
  margin-left: 1rem;
  text-align: center;
  width: 30rem;
}

.riwayat-header {
  background-color: #002f5c;
  padding: 20px;
  margin-top: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 4rem;
  border-radius: 1em;
  width: 100%;
}

.riwayat-header th {
  color: #ffffff;
  border-radius: 1em;
  font-size: 1em;
  font-weight: normal;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}

input,
select {
  width: 20%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus,
select:focus {
  border-color: #0056b3;
  outline: none;
}

/* Responsiveness */
@media (max-width: 768px) {
  .hero-content {
    width: 90%;
    left: 5%;
    transform: translateX(0);
  }

  .nav-container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
  }
}
