/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Background Styling */
.background {
  background-color: #57a8ff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background::before,
.background::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.background::before {
  width: 300px;
  height: 300px;
  bottom: -50px;
  left: -50px;
}

.background::after {
  width: 400px;
  height: 400px;
  top: -100px;
  right: -100px;
}

/* Form Container */
.form-container {
  background-color: #cfe8ff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 360px;
  text-align: left;
}

.form-container h2 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
  color: #333333;
}

/* Form Input Styling */
form label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #333333;
}

form input[type="text"],
form textarea,
form input[type="file"],
form input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

form textarea {
  resize: none;
}

form input[type="file"] {
  background-color: #e6e6e6;
  border: 1px solid #cccccc;
  padding: 5px;
  cursor: pointer;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #57a8ff;
  box-shadow: 0 0 5px rgba(87, 168, 255, 0.5);
}

/* Submit Button */
.submit-button {
  background-color: #004c75;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #003953;
}

form textarea {
  resize: both; /* Area teks bisa diperbesar dan diperkecil */
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}
