* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v44_157 {
  width: 100%;
  height: 1171px;
  background: url("../images/v44_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v44_158 {
  width: 100%;
  height: 2329px;
  background: rgba(25, 175, 255, 0.5099999904632568);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v44_160 {
  width: 640px;
  height: 617px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 1057px;
  border-radius: 50%;
}
.v44_161 {
  width: 783px;
  height: 715px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
  position: absolute;
  top: 541px;
  left: 207px;
  border-radius: 50%;
}
.v44_231 {
  width: 100px;
  height: 100px;
  background: url("../images/v44_231.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 286px;
  left: 415px;
  overflow: hidden;
}
.v44_234 {
  width: 100%;
  height: 1906px;
  background: url("../images/v44_234.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 242px;
  left: 3px;
  overflow: hidden;
}
.v44_235 {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 0px;
  overflow: hidden;
}
.v83_21 {
  width: 100%;
  height: 289px;
  background: rgba(194, 232, 253, 1);
  opacity: 1;
  position: absolute;
  top: 589px;
  left: 206px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v44_237 {
  width: 425px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 619px;
  left: 523px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v83_22 {
  width: 371px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 680px;
  left: 523px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v44_242 {
  width: 797px;
  color: rgba(81, 81, 81, 1);
  position: absolute;
  top: 494px;
  left: 206px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v44_294 {
  width: 539px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 116px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v44_243 {
  width: 236px;
  height: 225px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 617px;
  left: 238px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v44_253 {
  width: 163px;
  height: 211px;
  background: url("../images/v44_253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1345px;
  left: 200px;
  overflow: hidden;
}
.v44_254 {
  width: 163px;
  height: 211px;
  background: rgba(196, 196, 196, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v44_293 {
  width: 500px;
  height: 500px;
  background: url("../images/v44_293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 759px;
  overflow: hidden;
}
.v83_23 {
  width: 223px;
  height: 65px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 1026px;
  left: 1057px;
  border-top-left-radius: 21px;
  border-top-right-radius: 21px;
  border-bottom-left-radius: 21px;
  border-bottom-right-radius: 21px;
  overflow: hidden;
}
.v83_25 {
  width: 106px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 986px;
  left: 1077px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v44_272 {
  width: 100%;
  height: 1073px;
  background: url("../images/v44_272.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v83_24 {
  width: 183px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 1044px;
  left: 1078px;
  font-family: Poppins;
  font-weight: Light;
  font-size: 19px;
  opacity: 1;
  text-align: left;
}
.v44_273 {
  width: 100%;
  height: 66px;
  background: rgba(0, 0, 0, 0.7599999904632568);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v44_274 {
  width: 82px;
  height: 25px;
  background: url("../images/v44_274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1084px;
  overflow: hidden;
}
.v44_275 {
  width: 82px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v44_276 {
  width: 133px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 21px;
  left: 1201px;
  font-family: Mulish;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v44_280 {
  width: 350px;
  height: 90px;
  background: url("../images/v44_280.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 34px;
  overflow: hidden;
}
.v44_282 {
  width: 350px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v44_284 {
  width: 26px;
  height: 23px;
  background: rgba(249, 247, 249, 1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 1369px;
  overflow: hidden;
}
.v44_285 {
  width: 11px;
  height: 11px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 7px;
}
.v44_286 {
  width: 21px;
  height: 10px;
  background: rgba(255, 255, 255, 1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 3px;
}
.v44_296 {
  width: 319px;
  height: 63px;
  background: rgba(4, 78, 117, 1);
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 113px;
  border-top-left-radius: 31px;
  border-top-right-radius: 31px;
  border-bottom-left-radius: 31px;
  border-bottom-right-radius: 31px;
  overflow: hidden;
}
.v44_298 {
  width: 220px;
  height: 43px;
  background: url("../images/v44_298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 396px;
  left: 163px;
  overflow: hidden;
}
.v44_299 {
  width: 220px;
  color: rgba(245, 244, 242, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Mulish;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
